<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--方便移动端浏览-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <!--<link href="../config/semantic.min.css" rel="stylesheet" type="text/css">-->
    <!--<script src="./static/config/jquery-3.1.1.min.js"></script>-->
    <!--<script src="./static/config/semantic.min.js"></script>-->
</head>
<body>
    <!--导航-->
    <nav class="ui inverted segment attached m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui header teal item">Blog</h2>
                <a href="#" class="item m-mobile-hide m-item"><i class="home icon mini"></i>首页</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="idea icon mini"></i>分类</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="tags icon mini"></i>标签</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="clone icon mini"></i>归档</a>
                <a href="#" class="item m-mobile-hide m-item active"><i class="info icon mini"></i>关于我</a>
                <div class="right item m-mobile-hide m-item">
                    <div class="ui icon transparent inverted input">
                        <input type="text" placeholder="search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui button black icon m-top-right m-mobile-show menu toggle">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-padded-tb-big m-container">
        <div class="ui container">
            <div class="ui grid stackable">
                <div class="ui eleven wide column">
                    <div class="ui segment">
                        <img src="https://i.picsum.photos/id/1/800/600.jpg" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="ui five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p>steve，一个有点活泼，有点可爱，有点意思的程序员</p>
                        <p>每天都进步一点点</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui label orange basic left pointing m-margin-tb-tiny">编程</div>
                        <div class="ui label orange basic left pointing m-margin-tb-tiny">打羽毛球</div>
                        <div class="ui label orange basic left pointing m-margin-tb-tiny">发明</div>
                        <div class="ui label orange basic left pointing m-margin-tb-tiny">创作</div>
                        <div class="ui label orange basic left pointing m-margin-tb-tiny">骑行</div>
                        <div class="ui label orange basic left pointing m-margin-tb-tiny">跑步</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">Java</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">JS</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">Html</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">Css</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">Semantic</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">Tomcat</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">CentOS</div>
                        <div class="ui label teal basic left pointing m-margin-tb-tiny">...</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui circular icon button wechat"><i class="weixin icon"></i></a>
                        <a href="#" class="ui circular icon button qq" data-content="21825018" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui flowing popup transition hidden wechat-qr">
                        <img src="../static/images/1.PNG" alt="" class="ui rounded images" style="width: 100px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部footer-->
    <footer class="ui inverted segment vertical m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/1.PNG" alt="" class="ui rounded image" style="width: 110px">
                        </div>
                    </div>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">email</a>
                        <a href="#" class="item">qq</a>
                        <a href="#" class="item">wechat</a>
                    </div>
                </div>

                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">Steve</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，这是我的个人博客，这是我的个人博客，
                        这是我的个人博客，这是我的个人博客，这是我的个人博客</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">copy right</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.qq').popup();
        $('.wechat').popup({
            popup : $('.wechat-qr'),
            on : 'hover',
            position : 'bottom center'
        });
    </script>
</body>
</html>